*{
	margin:0;
	padding:0;
    font-family: $fuente1;
    font-family: $fuente2;
}

body{
	background:$color-blanco;
}

nav{
	@extend body
		
}

.logo{
	@include logo();
}

.gatito{
	margin-top:10px;
}


.contenedor{
	width:90%;
	margin: 15px auto;
	.img-pinterest{
	display:inline-block;
	border-radius: $borde;
	width: 110%;
	}
}

.elemento{
	p{
	padding:10px;
	font-size:13px;
	@extend .descripcion;
	}
	.img-modal{
	width:100%;
	}
}

input{
	@include buscador();
}

.materialboxed{
	background-color:$color-blanco;
}
.dropdown-button{
	color:$color-negro;

}

.imagen{
	margin-left:-40px;
}

nav, nav a, nav ul a, span.badge.new{
	color: $color-grey;
}

.fa{
	color:$color-grey;
}

.fa-thumb-tack{
	color:$color-blanco;
}

.titulo{
	font-weight: bolder;
}


.descripcion{
	font-size:$tamano-letra;
}
.user{
	font-size:$fuente-user;
}

.btn-leerlo{
	background-color:$color-gris;
	color:$color-negro;
}

.modal{
	width:$modal;
}
