*{
	margin:0;
	padding:0;
    font-family: $fuente1;
    font-family: $fuente2;
}

body{
	background:$color-blanco;
}

nav{
	@extend body
		
}

.logo{
	width: 40px;
	margin-left:20px;
	margin-top:10px;
	
}

.gatito{
	margin-top:10px;
}


.contenedor{
	width:90%;
	margin: 15px auto;
	img{
	border-radius: 20px;
	}
}

.elemento{
	width:180px;
	margin-left:80px;
	margin-bottom:15px;
	p{
	padding:10px;
	font-size:13px;
	@extend .descripcion;
	}
	img{
	width:100%;
	}
}

.row .col{
	padding:0;
}

input{
	background-color: $color-gris;
	width:700px;
	margin-left:20px;
	padding:10px;
	color:$color-negro;
	border:none;
}

.materialboxed{
	background-color:$color-blanco;
}
.dropdown-button{
	color:$color-negro;

}

.imagen{
	margin-left:-40px;
}

nav, nav a, nav ul a, span.badge.new{
	color: $color-grey;
}

.fa{
	color:$color-grey;
}

.fa-thumb-tack{
	color:$color-blanco;
}

.titulo{
	font-weight: bolder;
}


.descripcion{
	font-size:$tamano-letra;
}
.user{
	font-size:10px;
}

.btn-leerlo{
	background-color:$color-gris;
	color:$color-negro;
}